name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-macos:
    name: Test macOS
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.1'

      - name: Build and Test
        run: swift test --parallel

  test-ios:
    name: Test iOS
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.1'

      - name: Build and Test
        run: xcodebuild test -scheme STTextView -destination 'platform=iOS Simulator,name=iPhone 17,OS=latest' -parallel-testing-enabled YES
